name: Release

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
  upload-assets:
    needs: release
    permissions:
      contents: write
      id-token: write
    name: Upload Assets for ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-22.04
            os: linux
            target: x86_64-unknown-linux-gnu
            binary_name: changepacks-linux-x86_64
          - platform: windows-2022
            os: windows
            target: x86_64-pc-windows-msvc
            binary_name: changepacks-windows-x86_64.exe
          - platform: macos-14
            os: macos
            target: x86_64-apple-darwin
            binary_name: changepacks-darwin-x86_64
          - platform: macos-14
            os: macos
            target: aarch64-apple-darwin
            binary_name: changepacks-darwin-arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          components: clippy, rustfmt

      - name: Build Rust binary
        run: cargo build --release --target ${{ matrix.target }} -p changepacks
      
      - name: Upload Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: target/${{ matrix.target }}/release/changepacks${{ matrix.os == 'windows' && '.exe' || '' }}
          asset_name: ${{ matrix.binary_name }}
          asset_content_type: application/octet-stream
